@import url('https://fonts.googleapis.com/css2?family=Fira+Code&display=swap');
  
* {
    box-sizing: border-box;
    margin: 0;
    padding: 0;
    font-family: 'Fira Code', monospace;
}

body {
  width: 100%;
  height: 100vh;
  background: #252525;
}

header {
  width: 100%;
  height: 80px;
  background: rgba(0, 0, 0, 0.5);
  display: flex;
  align-items: center;
  justify-content: space-around;
  position: fixed;
  z-index: 99;
}

header .menu ul {
  display: flex;
}

header .menu ul li {
  padding: 0 20px;
  list-style: none;
}

header .menu ul li a {
  text-decoration: none;
  text-transform: uppercase;
  color: #fff;
  transition: 0.5s;
}

header .menu ul li a:hover{
  color:rgb(36, 33, 66);
}

/* Main_Home */

#home {
  /* border: 1px solid blue; */
}

#home .container {
    width: 100%;
    height: 100vh;
    background: url(images/keyboardback.jpg);
    background-size: cover;
    z-index: 1;
}

#home .me {
 /*border: 1px solid red; */
  width: 60%;
  height: 23%;
  top: 250px;
  left: 25%;
  position: absolute;
  display: flex;
  align-items: center;
  z-index: 2;
}

#home .me img {
      border: 0.5px solid black;
      width: 25%;
      border-radius: 100%;
      min-width: 150px;
}

#home .resume {
  /* border: 1px solid green; */
  width: 80%;
  color: white;
  padding: 30px;
  font-size: 23px;
}

#home .container .icons {
  width: 10%;
  height:  80vh;
  display: flex;
  flex-direction: column;
  justify-content: center;
  padding: 0 60px;
  position: fixed;
  z-index: 99;
}

#home .container .icons ion-icon {
  padding: 30px 0;
  font-size: 2rem;
  color: #fff;
  transition: 0.5s ease;
}

#home .container .icons ion-icon:hover {
  color:rgb(36, 33, 66);
}










  



